

body {
  overflow-x: hidden;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: flex;
}

@media (max-width: 768px) {
  .mobile-only {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }

  .desktop-nav {
    display: none !important;
  }

  .nav-button {
    color: black;
    margin-bottom: 1rem;
    margin-bottom: 20%; 
  }

  .logo-img {
    margin-bottom: 20%;
  }

  .nav-button:hover {
    scale: 1.1;
  }

  .icon-style {
    width: 24px;
    height: 24px;
    color: black;
  }
  
  .start-shopping-button {
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20%;
  }
  
  .start-shopping-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .start-shopping-button:hover {
    background-color: #313131;
  }

  .startShoppingGlow {
    position: absolute;
    top: 0;
    left: -100%; 
    width: 200%; 
    height: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 80%, transparent 100%);
    animation: glowAnimation 1.5s linear infinite; 
  }
  
  @keyframes glowAnimation {
    0% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(100%); 
    }
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
}
