@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f6f4;
  background-image: url('./assets/Shoelllll.svg');
  background-repeat: repeat;
  background-size: 200px 200px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


::-webkit-scrollbar {
  display: none;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  .nike-container {
    @apply w-11/12 m-auto;
  }

  .bg-theme {
    background-image: linear-gradient(0.2deg, rgb(189, 94, 132) 20%, rgb(255, 165, 126) 100%);
    border-radius: 20px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .bg-theme-cart {
    @apply bg-gradient-to-b from-slate-900 to-gray-900 shadow-sm shadow-gray-900;
  }

  .clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
  }  

  .blur-effect-theme {
    @apply bg-white/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
  }

  .icon-style {
    @apply h-6 w-6 sm:h-5 sm:w-5 text-slate-100 cursor-pointer transition-all duration-100 active:scale-110 leading-tight;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-[#ffffff] to-[#ffffff00];
  }

  .rounded-theme {
    border-radius: 5% 100% 10% 5%;
  }

  .button-theme {
    @apply px-7 py-1 rounded active:scale-90 transition-all duration-100 ease-in-out shadow-md sm:text-sm;
  }

  .transitions-theme {
    @apply transition-all duration-700 ease-in-out cursor-pointer;
  }
}

.startShoppingContainer {
  position: relative;
  overflow: hidden; 
}

.startShoppingGlow {
  position: absolute;
  top: 0;
  left: -100%; 
  width: 200%; 
  height: 100%;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 80%, transparent 100%);
  animation: glowAnimation 1.5s linear infinite; 
}

@keyframes glowAnimation {
  0% {
      transform: translateX(-100%); 
  }
  100% {
      transform: translateX(100%); 
  }
}

.blur-effect {
  filter: blur(8px);
  transition: filter 2s ease;
}

.custom-scrollbar-container {
  position: fixed;
  width: 6px;
  height: calc(var(--vh, 1vh) * 20);
  top: calc(var(--vh, 1vh) * 40);
  background-color: #0000001a;
  border-radius: 3px;
  right: 16px;
  opacity: 0;
  transition: opacity 0.8s;
}

.custom-scrollbar-thumb {
  width: 100%;
  height: 20%;
  background-color: #000;
  border-radius: 3px;
  position: absolute;
  top: 0;
}

.show-scrollbar {
  opacity: 1;
}

.container {
  width: 100%;
  box-sizing: border-box; 
}
